---
// Props for customization
const { 
  type = "gradient",  // Options: "gradient", "line", "none"
  color = "white",
  opacity = "0.3"
} = Astro.props;
---

{type === "gradient" && (
  <div
    class={`absolute bottom-0 left-0 right-0 h-16 bg-gradient-to-b from-transparent to-${color} opacity-${opacity}`}
  >
  </div>
)}

{type === "line" && (
  <div class="relative py-8 overflow-hidden">
    <div class="px-6 sm:px-8 lg:px-12">
      <div class="relative">
        <div class="h-px w-full bg-gradient-to-r from-transparent via-[#e6c378] to-transparent opacity-50"></div>
      </div>
      <div class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 w-12 h-12 rounded-full bg-white flex items-center justify-center border border-[#e6c378] border-opacity-30">
        <div class="w-6 h-6 rounded-full bg-[#e6c378] opacity-50"></div>
      </div>
    </div>
  </div>
)}