---
const { question, answer } = Astro.props;
---

<div
  class="bg-gray-100 p-6 rounded-lg shadow-md hover:shadow-lg transition-shadow"
>
  <h3 class="text-xl font-semibold text-[#003087] flex items-center">
    <span class="w-1.5 h-6 bg-[#e6c378] rounded-full mr-3"></span>
    {question}
  </h3>
  <p class="text-lg text-gray-700 mt-4 pl-4">
    {answer}
  </p>
</div>
