---
const { delay = "300", value, label } = Astro.props;
---

<div
  class="bg-white p-8 rounded-xl shadow-md text-center transform hover:scale-105 transition-transform duration-300 hover-card"
  data-aos="fade-up"
  data-aos-delay={delay}
>
  <div class="card-icon text-[#003087] text-5xl font-bold mb-4 stat-number">
    {value}
  </div>
  <p class="text-lg text-gray-700">{label}</p>
</div>
